%% rebar3 compile 할 때 erlydtl 템플릿 파일들도 같이 컴파일
{provider_hooks, [{pre, [{compile, {erlydtl, compile}}]}]}.

{erl_opts, [debug_info]}.

{erlydtl_opts,
 [{compiler_options, [report, return, debug_info]},
  {doc_root, "priv/templates"},
  {out_dir, "_build/default/lib/erlbbs/ebin"},
  {source_ext, ".dtl"},
  {module_ext, "_view"},
  {return, true},
  {report, true}]}.

{deps, [cowboy]}.

{project_plugins, [rebar3_format]}.

{plugins,
 [rebar3_hex,
  {rebar3_erlydtl_plugin,
   ".*",
   {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [erlbbs]}
]}.
