%% rebar3 compile 할 때 erlydtl 템플릿 파일들도 같이 컴파일
{provider_hooks, [{pre, [{compile, {erlydtl, compile}}]}]}.

{erl_opts, [debug_info, warnings_as_errors]}.

{erlydtl_opts,
 [{compiler_options, [report, return, debug_info]},
  {doc_root, "priv/templates"},
  {out_dir, "_build/default/lib/erlbbs/ebin"},
  {source_ext, ".dtl"},
  {module_ext, "_view"},
  {return, true},
  {report, true}]}.

{deps,
 [cowboy,
  erlydtl,
  logger_colorful,
  {riakc,
   ".*",
   {git, "https://github.com/hoppang/riak-erlang-client.git", {branch, "develop-3.0"}}}]}.

{project_plugins, [rebar3_format]}.

{plugins,
 [rebar3_hex,
  {rebar3_erlydtl_plugin,
   ".*",
   {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}]}.

{shell, [{apps, [erlbbs]}]}.

{relx,
 [{release, {erlbbs, "0.1.0"}, [erl]},
  {dev_mode, false},
  {include_erts, false},
  {include_src, false},
  %{vm_args, "config/vm.args"},
  {sys_config, "config/sys.config"},
  {extended_start_script, true}]}.
