[
  {kernel,
    [{logger_level, notice},
      {logger,
        [{handler, default, logger_std_h,
          #{formatter =>
            {logger_colorful_formatter,
              #{single_line => true, colors => #{notice => magenta, debug => cyan, info => white, error => red}}
            }
          }
        }]
    }]
  },
  {sasl, [{sasl_error_logger, false}, {errlog_type, error}]},
  "config/secret.config"
].
